<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Turma: ADS0302N
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Edvaldo Batista de Albuquerque Junior</strong>
    <br>
    <ion-content>
      <img src="assets/imagem.jpg" alt="Descrição da imagem">
    </ion-content>
  </div>
</ion-content>
